h1 {
  color: #7c7c7c;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
}
.description {
  text-align: left;
}
.weather {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  color: #878787;
  font-family: "Quicksand", Helvetica, Arial, sans-serif;
  padding: 40px;
}
.app {
  margin: 60px auto;
  max-width: 800px;
}
.d-flex {
  box-sizing: border-box;
}

.card-body-Newport-News {
  color: blueviolet;
  font-size: 120%;
  font-weight: 600;
  padding: 20px 20px;
}
.card-title-two {
  font-size: 150%;
  color: rgb(220, 114, 255);
}
.card-text {
  font-size: 150%;
  color: rgb(220, 114, 255);
}

.row-justify-content-end {
  justify-content: center !important;
  padding: 10px;
}
.btn-light {
  padding: 10px;
}

.col-6 {
  width: 60%;
}
h2 {
  margin: 0px;
  font-family: "Quicksand", sans-serif;
  color: red;
}
.img-fluid-rounded-start {
  border: 0.5rem;
}

ul {
  font-size: 150%;
  list-style: none;
  color: #d694d6;
}
.hourly-forecast {
  text-align: left;
  font-size: 120%;
  color: #d694d6;
}

.col {
  font-family: "Architects Daughter", cursive;
  font-weight: 600;
  color: #d694d6;
  font-size: 100%;
}
.open-source-code {
  text-decoration: none;
  font-weight: 700;
}
